# === Java / Maven (Backend) ===
*.class
*.log
*.iml
target/
build/
.mvn/
!mvn/wrapper/maven-wrapper.jar
hs_err_pid*

# === Spring Tool Suite ===
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# === IntelliJ IDEA ===
.idea/
*.iws
*.ipr

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === VS Code ===
.vscode/

# === Frontend (Node, WebStorm) ===
frontend/node_modules/
frontend/.idea/
frontend/.vscode/
frontend/dist/
frontend/build/
frontend/package-lock.json
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# === FRONTEND - React ===
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# React test coverage
/frontend/coverage

# React build output
/frontend/build

# React environment files
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# React log files
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# React misc
/frontend/.DS_Store


# === OS / System Files ===
.DS_Store
Thumbs.db

